#root {
  margin: 1rem;
}

.App {
  text-align: center;
}

.Btn {
  margin: 6px 12px;
  padding: 6px 12px;
  background-color: aquamarine;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.Btn:hover {
  background-color: antiquewhite;
}

input {
  display: block;
  margin: 20px 12px 0px;
  padding: 2px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

button {
  margin: 12px;
}

img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}