.hero {
  display: flex;
  flex-direction: column;
}

.hero-photo {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 16px;
}

.hero-text{
  margin-top:0;
  max-width: 478px;
}