
/* Reset */
body {
  padding: 0;
  margin:
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* To create the grid 3 x 3 */
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  grid-gap: 10px;
  background-color: lightblue;
}

.square {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


svg {
  stroke-width: 15px;
  stroke: #FF665C;
  fill: none;
  stroke-linecap: round;
}

.cross {
  stroke: #EC08BE;
}

.result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3em;
  font-weight: bold;
  background-color: rgba(0,0,0,0.4);
  color: white;
}

button {
  padding: 10px;
  font-size: 0.5em;
}